/*=============================================================================
 | home/home.css
 =============================================================================*/

.home-page #detail-section {
  background-color: #fff;
}

/*=============================================================================
 | home/home-actnews.css
 =============================================================================*/

.home-page .actnews {
  margin: 0;
  padding: 0 0 20px;
  background-color: #fff;
  border-top: 0 solid #c5e2c4; /*84cdc7*/
  width: 50%;
  padding-left: 5px;
}

.home-page .actnews .entry-title {
  margin-top: 0;
  font-size: 20px;
  line-height: 1.4;
}

.home-page .actnews .entry-title a {
  color: #555;
  border-color: #555;
}

.home-page .actnews .entry-title a:hover {
  color: #333;
}

.home-page .actnews .entry-thumbnail {
  position: relative;
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #c5e2c4;
  text-align: center;
}

.home-page .actnews .entry-thumbnail a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,.05);
}

.home-page .actnews .entry-thumbnail img {
  max-width: 180px;
  max-height: 180px;
}

.home-page .actnews .no-thumbnail {
  background-color: #fff;
}

.home-page .actnews .no-thumbnail img {
  width: 150px;
  height: 100px;
}

.home-page .actnews-first {
  padding: 0 0 20px;
  border-width: 0;
  border-top: 1px solid transparent;
  width: 50%;
}

.home-page .actnews-first .entry-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.home-page .actnews-first .entry-title img {
  display: block;
  margin-bottom: 8px;
  width: 100%;
  height: 200px;
}

@media (max-width: 430px) {

  .home-page .actnews .entry-thumbnail {
    float: none;
    margin-right: 0;
  }

  .home-page .actnews .no-thumbnail {
    display: none;
  }

}
