/*=============================================================================
 | home/home.css
 =============================================================================*/

.home-page #enrolstudents-section {
  margin-top: 1px;
}

.home-page #enrolstudents-section a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 15px;
  max-width: 800px;
  background-image: url(../assets/libs/gem/1.0/img/ui_bg_medium_75_ffd70d_40x40.png);
  border-radius: 24px;
  color: #222;
}

.home-page #detail-section {
  background-color: #0f9d58;
}

.home-page .actnews {
  margin: 0;
  padding: 20px 0;
  background-color: #fff;
  border-top: 1px solid #0f9f58; /*84cdc7*/
}

.home-page .actnews .entry-title {
  margin-top: 0;
  font-size: 20px;
}

.home-page .actnews .entry-title a {
  color: #222;
}

.home-page .actnews .entry-thumbnail {
  position: relative;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  background-color: #0f9d58;
  text-align: center;
}

.home-page .actnews .entry-thumbnail a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,.15);
}

.home-page .actnews .entry-thumbnail img {
  max-width: 180px;
  max-height: 180px;
}

.home-page .actnews .no-thumbnail {
  background-color: #fff;
}

.home-page .actnews .no-thumbnail img {
  width: 180px;
  height: 130px;
}

.home-page .actnews-first {
  padding: 10px 0 20px;
  border-width: 0;
  border-top: 1px solid #0f9f58;
}

.home-page .actnews-first .entry-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 430px) {

  .home-page .actnews .entry-thumbnail {
    float: none;
    margin-right: 0;
  }

  .home-page .actnews .no-thumbnail {
    display: none;
  }

}
