@import 'ivy-override.css';

body {
  background-color: #026649; /*94a5a0,026649*/
}

.login-panel, .admin-panel {
  margin-top: 20px;
}

#topbar a {
  color: #ff6969;
}

#topbar .ivy-page-wrapper {
  padding: 10px 15px;
  background-color: #444;
  color: #eee;
}

#topbar .panel {
  margin-bottom: 0;
}

.breadcrumb a {
  color: #000;
}

.posts-list .list-post-status a {
  color: #c0eaff;
}

.posts-list h2.title {
  margin-top: 0;
}

.posts-list h2.title .literal {
  margin-right: 15px;
}

.panel .post-content table {
  border-collapse: collapse;
  table-layout: fixed;
}

.panel .post-content table thead th {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-bottom-width: 2px;
}

.panel .post-content table tbody td {
  padding: 3px 5px;
  border: 1px solid #bbb;
}

.froala-box:after {
  bottom: -30px;
  font-size: 24px;
  color: #666;
}
