@import 'ivy-override.css';
@import 'ivy-base.css';

a {
  color: #1c4386;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #26292e; /*1d1e23,026649,94a5a0,026649*/
}

#header, .breadcrumb {
  font-family: 'Roboto Condensed', sans-serif;
}

.login-panel, .admin-panel {
  margin-top: 20px;
}

#topbar {
  font-size: 16px;
  background-color: #01addf;
  color: #fff;
}

#topbar a {
  color: #111;
  text-transform: uppercase;
}

#topbar ul {
  margin-top: 0;
  margin-bottom: 0;
}

#topbar ul li {
  float: left;
}

#topbar .ivy-page-wrapper {
}

#topbar .item {
  display: block;
  padding: 20px 24px;
  cursor: pointer;
}

#topbar .item:hover {
  background-color: #4cc4f8;
}

.panel {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 20px rgba(0,0,0,.1)
}

.panel.panel-dark > .panel-heading {
  background-color: #2a2d34;
}

.panel-primary > .panel-heading {
  font-weight: 300;
  color: #c3e0ff;
}

.breadcrumb {
  background-color: #26292e;
}

.breadcrumb a {
  color: #00add2;
  text-transform: uppercase;
}

.posts-list .list-post-status a {
  color: #a7bad8;
}

.posts-list .list-post-status a:hover {
  color: #c0eaff;
}

.posts-list h2.title {
  margin-top: 0;
  font-weight: 300;
}

.posts-list h2.title .literal {
  margin-right: 15px;
}

.panel .post-avatar {
  overflow: hidden;
  margin-top: 15px;
  height: 250px;
  border: 1px dashed #ccc;
}

.panel .post-avatar img {
  max-width: 100%;
}

.panel .post-content table {
  border-collapse: collapse;
  table-layout: fixed;
}

.panel .post-content table thead th {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-bottom-width: 2px;
}

.panel .post-content table tbody td {
  padding: 3px 5px;
  border: 1px solid #bbb;
}

.froala-box:after {
  bottom: -30px;
  font-size: 24px;
  color: #666;
}
