/*=============================================================================
 | custom-site-bottombar.css
 =============================================================================*/

#bottombar {
  margin-top: 15px;
  background-color: #01733b;
  color: #ddd;
}

/*=============================================================================
 | custom-site-navpanel.css
 =============================================================================*/
