#detail-wrapper {
  background-color: #fff;
}

#children-intl-1 {
  margin-bottom: 10px;
}

#children-intl-2 .tab-content {
  margin-top: 2px;
}

#children-intl-2 .nav-tabs > li > a {
  color: #333;
}

#children-intl-2 .nav-tabs > li.active > a {
  font-weight: bold;
  color: #000;
}